[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = DavidEPeters
	email = 122695512+DavidEPeters@users.noreply.github.com
